<div class="aui-group">
  <div class="aui-item">
    <h3>Here's your config page. Now get to work!</h3><br/>
      <aui-label for="my-toggle">Click here to toggle</aui-label>
      <aui-toggle label="toggle button" id="my-toggle"></aui-toggle>
  </div>
</div>